// COLORS
$color-primary: #6A983C;
$color-white: #fff;
$color-bg: #f9f9f9;
$text-color: #151515;

// FONTS
$font-poppins: 'Poppins', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

// CONTAINER SIZE
$container-width: 1200px;
$container-left: 15px;
$container-right: 15px;



