.rating {
  @include list-unstyled;
  &__item:not(:last-child){
    margin-bottom: 16px;
  }
}

.rating .bxs-star {
  color: #fdbc15;
  font-size: 15px;
}
.rating .bx-star {
  color: #d1d1d1;
  font-size: 15px;
}