.message {

  &__label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: $text-color;
  }
  &__inp {
    width: 100%;
    height: 112px;
    padding: 15px;
    background: $color-bg;
    border: 1px solid #D1D1D1;
    border-radius: 12px;
    outline-color: $color-primary;
  }
}
